# Dependencies
node_modules/
.venv/
venv/
env/

# Next.js
.next/
out/
build/
dist/

# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & SQLite
*.db
*.sqlite
*.sqlite3

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
